html,
body,
address,
blockquote,
div,
form,
fieldset,
caption,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ul,
li,
ol,
table,
tr,
td,
th,
p,
img {
  margin-bottom: 0;
  padding: 0;
}
img {
  border: none;
}
html {
  font-family: Montserrat, sans-serif;
  font-size: 4vmin;
  color: #808184;
}
body {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  justify-content: space-between;
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
input,
textarea,
select,
button,
label,
fieldset {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
  margin-top: 1em;
}
a:focus,
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
p:focus,
hr:focus,
input:focus,
textarea:focus,
select:focus,
button:focus,
label:focus,
fieldset:focus {
  outline: none;
}
textarea,
input,
select {
  background-color: #f7f6f6;
}
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  color: #b7b6b6;
}
textarea::-moz-placeholder,
input::-moz-placeholder,
select::-moz-placeholder {
  color: #b7b6b6;
  opacity: 1;
}
textarea:-moz-placeholder,
input:-moz-placeholder,
select:-moz-placeholder {
  color: #b7b6b6;
  opacity: 1;
}
textarea:-ms-input-placeholder,
input:-ms-input-placeholder,
select:-ms-input-placeholder {
  color: #b7b6b6;
}
input,
label,
select {
  height: 1.5em;
}
input,
label,
select,
textarea {
  font-family: Lora, serif;
}
input,
textarea,
select,
button,
.button {
  border: none;
  font-size: inherit;
  border-radius: 0.8em;
}
button,
.button {
  color: #fe535f;
  background-color: #fff;
  border: #fe535f 0.25em solid;
  padding: 0.5em;
  font-weight: bold;
  cursor: pointer;
  display: block;
}
button:active,
.button:active,
button.active,
.button.active {
  color: #fff;
  background-color: #fe535f;
}
textarea {
  padding: 0.5em;
}
input {
  color: #808184;
  transition: box-shadow 0.3s, border 0.3s;
}
input:focus {
  box-shadow: 0 0 1em 1px #ddd;
}
#thanks {
  margin: 2em;
}
#thanks p {
  color: #fe535f;
  font-weight: normal;
}
#thanks .button {
  margin-top: 2em;
}
main {
  display: flex;
  flex-flow: column nowrap;
}
main>* {
  margin-bottom: 1em;
}
.logo {
  width: 75vw;
  align-self: center;
  margin: 2em;
}
.motto {
  font-family: font123583;
  text-align: center;
}
.motto h1 {
  color: #fe535f;
}
.motto h1 .dotcom {
  font-weight: normal;
}
.motto .tagline {
  color: #808184;
}
hr {
  color: #808184;
}
.slide {
  margin-bottom: 0 !important;
}
.slide .slick-dots {
  bottom: 0.5em;
}
.slide .slick-dots button:before {
  color: #fff !important;
  font-size: 1rem;
}
.slide .slick-dots li {
  margin: 0.5em !important;
}
.slide h1 {
  margin: 2em 1.5em;
  color: #fff;
}
.slide .item {
  height: 75vmin;
  background-size: cover;
}
.slide .slide-0 {
  background-image: url("img/slide-0.jpg");
}
.slide .slide-0 h1 {
  margin-top: 1.5em;
}
.slide .slide-1 {
  background-image: url("img/slide-1.jpg");
}
.slide .slide-2 {
  background-image: url("img/slide-2.jpg");
}
.call-to-action {
  display: flex;
  justify-content: center;
  background-color: #fe535f;
  text-align: center;
  margin-bottom: 0;
}
.call-to-action .button {
  margin-bottom: 1em;
  padding: 0.5em 3em;
}
.welcome {
  color: #fe535f;
  margin: 0 2em 3em;
}
.change {
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("img/change.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.change h2 {
  margin: 2em;
  color: #fff;
  text-align: center;
}
.features {
  margin: 4em 2em 0;
}
.features div {
  margin-bottom: 4em;
}
.features div h4 {
  color: #fe535f;
}
.features div img {
  max-width: 22vmin;
}
.footnote {
  font-size: 0.65em;
  color: #fe535f;
}
.center {
  text-align: center;
}
fieldset {
  text-align: center;
  border-bottom: none;
  border-left: none;
  border-right: none;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: bold;
}
fieldset legend {
  padding: 0 1em;
  background: #fff;
}
form {
  margin: 1em;
  display: flex;
  flex-flow: column nowrap;
}
form .product {
  display: flex;
  flex-flow: column nowrap;
}
form .photo-upload-label {
  text-align: center;
  cursor: pointer;
}
form .file-name {
  font-size: 0.5em;
}
form .form-field {
  display: flex;
  align-items: baseline;
}
form .form-field label {
  flex: 0 0 5em;
  color: #fe535f;
}
form .form-field input,
form .form-field select {
  width: 100%;
  padding-left: 0.5em;
}
form .form-field .unit {
  margin-left: 0.5em;
}
form .form-field .toggle {
  color: #808184;
  border-color: #808184;
}
form .form-field .toggle:active {
  border-color: #fe535f;
}
form .form-field .toggle.selected {
  color: #fff;
  border-color: #fe535f;
  background-color: #fe535f;
}
form .form-field .toggle input {
  display: none;
}
form .priority .form-field {
  justify-content: space-around;
}
form .priority .description {
  color: #fe535f;
  font-weight: normal;
}
form hr {
  border: 1px dashed;
  margin-top: 2em;
  width: 100%;
}
.strong {
  font-weight: bold;
}
.step-info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: #fe535f;
  margin-bottom: 1em;
}
.step-info .step {
  font-family: 'Montserrat';
  font-size: 3em;
  margin-top: 0.5em;
}
.step-info .info {
  font-weight: bold;
  font-style: italic;
  font-family: Lora, serif;
  font-size: 1.2em;
  margin-top: 0.5em;
  border-bottom: 0.1em solid;
  padding-bottom: 0.2em;
}
.add-other {
  margin-top: inherit;
  display: flex;
  align-items: center;
}
.add-other button {
  border: none;
  margin: 0;
}
.add-other .text {
  margin-left: 1em;
}
.required:after {
  content: "*";
  font-size: 0.5em;
  position: absolute;
}
.hidden {
  display: none !important;
}
.responsive {
  width: 100%;
  height: auto;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  text-align: center;
  background-color: #fe535f;
  padding: 1em;
  height: 5vmin;
}
footer {
  padding-bottom: 1em;
  background: #f7f6f6;
  display: flex;
  flex-flow: column;
  align-items: center;
}
footer > * {
  margin-top: 1em;
}
footer .phone span {
  color: #808184;
}
footer .email {
  color: #fe535f;
  font-weight: bold;
}
.select2-container {
  font-family: Lora, serif;
}
.select2-container .select2-selection--single {
  background-color: #f7f6f6;
  border: none;
  font-size: inherit;
  border-radius: 0.8em;
  height: 1.5em;
  font-family: inherit;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: inherit;
  height: inherit;
  color: inherit;
}
.select2-container .select2-selection--single .select2-selection__arrow {
  height: inherit;
}
.select2-container .select2-dropdown {
  border: none;
}
.select2-container .select2-dropdown .select2-results__options {
  max-height: 15em;
}
.select2-container .select2-dropdown .select2-search__field {
  padding-left: 0.5em;
  border: none;
}
