html,
body,
address,
blockquote,
div,
form,
fieldset,
caption,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ul,
li,
ol,
table,
tr,
td,
th,
p,
img {
  margin-bottom: 0;
  padding: 0;
}
img {
  border: none;
}
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
input,
textarea,
select,
button,
label,
fieldset {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
  margin-top: 1em;
}
a:focus,
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
p:focus,
hr:focus,
input:focus,
textarea:focus,
select:focus,
button:focus,
label:focus,
fieldset:focus {
  outline: none;
}
html {
  font-family: Montserrat, sans-serif;
  font-size: calc(16px + (24 - 16) * (100vmin - 400px) / (800 -400));
  color: #808184;
}
@media screen and (min-width: 1200px) {
  html h1 {
    font-size: 3em;
  }
}
body {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  justify-content: space-between;
}
body h3 {
  font-weight: lighter;
}
textarea,
input,
select {
  background-color: #f7f6f6;
}
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  color: #b7b6b6;
}
textarea::-moz-placeholder,
input::-moz-placeholder,
select::-moz-placeholder {
  color: #b7b6b6;
  opacity: 1;
}
textarea:-moz-placeholder,
input:-moz-placeholder,
select:-moz-placeholder {
  color: #b7b6b6;
  opacity: 1;
}
textarea:-ms-input-placeholder,
input:-ms-input-placeholder,
select:-ms-input-placeholder {
  color: #b7b6b6;
}
input,
label,
select {
  height: 1.5em;
}
input,
label,
select,
textarea {
  font-family: Lora, serif;
}
input,
textarea,
select,
button,
.button {
  border: none;
  font-size: inherit;
  border-radius: 0.8em;
}
button,
.button {
  color: #fe535f;
  background-color: #fff;
  border: #fe535f 0.25em solid;
  padding: 0.5em;
  font-weight: bold;
  cursor: pointer;
  display: block;
}
button:active,
.button:active,
button.active,
.button.active {
  color: #fff;
  background-color: #fe535f;
}
textarea {
  padding: 0.5em;
}
input {
  color: #808184;
  transition: box-shadow 0.3s, border 0.3s;
}
input:focus {
  box-shadow: 0 0 1em 1px #ddd;
}
#thanks {
  margin: 2em;
}
#thanks p {
  color: #fe535f;
  font-weight: normal;
}
#thanks .button {
  margin-top: 2em;
}
main {
  display: flex;
  flex-flow: column nowrap;
}
main> * + * {
  margin-top: 3em;
}
.logo {
  width: 75vw;
  align-self: center;
  margin: 2em 0;
  max-height: 100vh;
}
@media screen and (min-width: 768px) {
  .logo {
    margin: 1em 0 0;
    max-height: 13em;
  }
}
hr {
  color: #808184;
}
.slide {
  margin: 0 !important;
}
.slide .slick-dots {
  bottom: 0.5em;
}
.slide .slick-dots button:before {
  color: #fff !important;
  font-size: 1rem;
}
.slide .slick-dots li {
  margin: 0.5em !important;
}
.slide h1 {
  margin: 2.5em 1em;
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .slide h1 {
    margin: 2em;
  }
}
.slide .item {
  height: 75vmin;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 1200px) {
  .slide .item {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
.slide .slide-0 {
  background-image: url("img/slide-0.jpg");
}
.slide .slide-0 h1 {
  margin-top: 1.5em;
}
.slide .slide-1 {
  background-image: url("img/slide-1.jpg");
}
.slide .slide-2 {
  background-image: url("img/slide-2.jpg");
}
@media screen and (max-width: 1200px) {
  p br,
  h3 br {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hide-desktop {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .show-desktop {
    display: none;
  }
}
.welcome {
  color: #fe535f;
  margin-left: 2em;
  margin-right: 2em;
}
@media screen and (min-width: 1200px) {
  .welcome {
    margin-left: 4em;
    margin-right: 4em;
  }
}
.welcome>*:first-child {
  margin-top: 0;
}
.change {
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("img/change.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.change > * {
  margin: 2em 0;
  color: #fff;
  text-align: center;
}
.features {
  margin-left: 2em;
  margin-right: 2em;
}
@media screen and (min-width: 1200px) {
  .features {
    margin-left: 4em;
    margin-right: 4em;
  }
}
.features> * + * {
  margin-top: 4em;
}
.features div h4 {
  color: #fe535f;
}
.features div img {
  max-width: 4em;
}
.footnote {
  font-size: 0.65em;
  color: #fe535f;
}
.center {
  text-align: center;
}
fieldset {
  text-align: center;
  border-bottom: none;
  border-left: none;
  border-right: none;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: bold;
}
fieldset legend {
  padding: 0 1em;
  background: #fff;
}
form {
  margin-left: 2em;
  margin-right: 2em;
  display: flex;
  flex-flow: column nowrap;
}
@media screen and (min-width: 1200px) {
  form {
    margin-left: 4em;
    margin-right: 4em;
  }
}
form .product {
  display: flex;
  flex-flow: column nowrap;
}
form .photo-upload-label {
  text-align: center;
  cursor: pointer;
}
form .file-name {
  font-size: 0.5em;
}
form .form-fields {
  margin-top: 2em;
}
@media (min-width: 1250px) {
  form .form-fields {
    display: flex;
    flex-flow: row wrap;
  }
  form .form-fields .form-field {
    flex: 0 50%;
  }
  form .form-fields .form-field:nth-child(even) label {
    margin-left: 1em;
  }
}
form .form-field {
  display: flex;
  align-items: baseline;
}
form .form-field label {
  flex: 0 0 5em;
  color: #fe535f;
}
form .form-field label img {
  width: 2em;
  vertical-align: middle;
}
form .form-field input,
form .form-field select {
  width: 100%;
  padding-left: 0.5em;
}
form .form-field .unit {
  margin-left: 0.5em;
}
form .form-field .toggle {
  color: #808184;
  border-color: #808184;
}
form .form-field .toggle:active {
  border-color: #fe535f;
}
form .form-field .toggle.selected {
  color: #fff;
  border-color: #fe535f;
  background-color: #fe535f;
}
form .form-field .toggle input {
  display: none;
}
form .priority .form-field {
  justify-content: space-around;
}
form .priority .description {
  color: #fe535f;
  font-weight: normal;
}
form hr {
  border: 1px dashed;
  margin-top: 2em;
  width: 100%;
}
.strong {
  font-weight: bold;
}
.step-info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  color: #fe535f;
}
.step-info .step {
  font-family: 'Montserrat';
  font-size: 3em;
}
.step-info .info {
  font-weight: bold;
  font-style: italic;
  font-family: Lora, serif;
  font-size: 1.2em;
  border-bottom: 0.1em solid;
  padding-bottom: 0.2em;
}
.add-other {
  display: inline-flex;
  align-items: center;
  margin-top: 1em;
}
.add-other button {
  border: none;
  margin: 0;
}
.add-other .text {
  margin-left: 1em;
}
.required:after {
  content: "*";
  font-size: 0.5em;
  position: absolute;
}
.hidden {
  display: none !important;
}
.responsive {
  width: 100%;
  height: auto;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  text-align: center;
  background-color: #fe535f;
  padding: 1em;
  height: 5vmin;
}
footer {
  margin-top: 3em;
  padding-bottom: 1em;
  background: #f7f6f6;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 0.7em;
}
footer > * {
  margin-top: 1em;
}
footer .title {
  color: #fe535f;
}
footer .address {
  font-style: italic;
}
footer .phone span {
  color: #000;
}
footer .email {
  color: #fe535f;
  font-weight: bold;
}
.select2-container {
  font-family: Lora, serif;
}
.select2-container .select2-selection--single {
  background-color: #f7f6f6;
  border: none;
  font-size: inherit;
  border-radius: 0.8em;
  height: 1.5em;
  font-family: inherit;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: inherit;
  height: inherit;
  color: inherit;
}
.select2-container .select2-selection--single .select2-selection__arrow {
  height: inherit;
}
.select2-container .select2-dropdown {
  border: none;
}
.select2-container .select2-dropdown .select2-results__options {
  max-height: 15em;
}
.select2-container .select2-dropdown .select2-search__field {
  padding-left: 0.5em;
  border: none;
}
@media only screen and (max-width: 1024px) {
  .badges {
    display: none;
  }
  .badges ~ .call-to-action {
    display: none;
  }
  .call-to-action {
    display: flex;
    justify-content: center;
    background-color: #fe535f;
    text-align: center;
    margin-top: 0;
  }
  .call-to-action .button {
    margin: 1em 0;
    padding: 0.5em 3em;
  }
}
@media only screen and (min-width: 1024px) {
  .call-to-action {
    display: none;
  }
  .badges {
    display: flex;
    margin-left: 4em;
    margin-right: 4em;
  }
  .badges .badge {
    border: 1px dashed #000;
    border-radius: 0.5em;
    flex: 1 1 33%;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    padding: 60px 0 60px 0;
  }
  .badges .badge:nth-child(2) {
    margin: 0 1em;
  }
  .badges .badge strong {
    color: #fe535f;
  }
  .badges .badge img {
    max-width: 12vmin;
    max-height: 13vmin;
    margin: auto;
  }
  .badges .badge p {
    font-weight: bold;
  }
  .badges .badge p italic {
    color: #fe535f;
    font-style: italic;
    font-family: Lora, serif;
  }
  .badges ~ .call-to-action {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fe535f;
    text-align: center;
    margin-left: 4em;
    margin-right: 4em;
    border-radius: 0.5em;
  }
  .badges ~ .call-to-action .button {
    margin: 1em 0;
    padding: 0.5em 3em;
    flex-basis: 6em;
  }
}
